# SPDX-FileCopyrightText: Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
# SPDX-License-Identifier: Apache-2.0

---
name: Project / Release Drafter

on: # yamllint disable-line rule:truthy
  push:
    # branches to consider in the event; optional, defaults to all
    branches:
    - main

permissions:
  contents: write
  pull-requests: write

jobs:
  update_release_draft:
    runs-on: ubuntu-latest
    steps:
    - name: Monitor Actions
      uses: GitHubSecurityLab/actions-permissions/monitor@v1
      with:
        config: ${{ vars.PERMISSIONS_CONFIG }}

    - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
      # (Optional) specify config name to use, relative to .github/. Default: release-drafter.yml
      # with:
      # config-name: my-config.yml
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
